attrs==19.3.0
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
idna==2.8
joblib==0.14.1
lxml==4.4.3
more-itertools
nltk==3.4.5
numpy
packaging==20.1
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.6
pytest
python-dateutil==2.8.1
PyYAML==5.3
requests==2.22.0
scikit-learn
scipy
six==1.14.0
soupsieve==1.9.5
urllib3==1.25.8
wcwidth==0.1.8
