# All paths are relative to this file.

# Paths.
# place the search right next to this file
output_path: './'

# Providers from which to search (case insensitive)
# use indeed only for speed
providers:
  - 'Indeed'

# Filters.
search_terms:
  region:
    province: 'ON'
    city:     'waterloo'
    domain:   'ca'
    radius:   25

# this search is focused on programming
  keywords:
    - 'Python'
    - 'C++'

# exclude these from the search
black_list:
  - 'Infox Consulting'
  - 'Terminal'

# Logging level options are: critical, error, warning, info, debug, notset
# show me only errors
log_level: 'info'
