# All paths are relative to this file.

# Paths.
# place the search right next to this file
output_path: './'

# Providers from which to search (case insensitive)
providers:
  - 'Indeed'
  #- 'Monster'
  - 'GlassDoor' # This used to take ~10x longer to run than the other providers

# Filters.
search_terms:
  region:
    province: 'ON'
    city:     'waterloo'
    domain:   'ca'
    radius:   10

  keywords:
    - 'Python'
    - 'Java'
    - 'Git'
    - 'Unix'

black_list:
  - 'Infox Consulting'
  - 'Terminal'

# Logging level options are: critical, error, warning, info, debug, notset
log_level: 'info'

# Saves duplicates removed by tfidf filter to duplicate_list.csv
save_duplicates: False

# Turn on or off delaying
set_delay: True 

# Delaying algorithm configuration
delay_config:
    # Functions used for delaying algorithm, options are: constant, linear, sigmoid
    function: 'sigmoid'
    # Maximum delay/upper bound for converging random delay
    delay: 15
    # Minimum delay/lower bound for random delay  
    min_delay: 1 
    # Random delay
    random: True 
    # Converging random delay, only used if 'random' is set to True
    converge: True 
    
    
